.info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

.info__tabs {
    background-color: #444;
    color: #fff;
    display: flex;
    min-height: 50px;

}

.info__tab {
    display: flex;
    padding: 7px 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

}

.info__back {
  color: #fff;
  flex-grow: 1;
  max-width: 50px;
  text-align: center;
  font-size: 40px;
}

.info__inner-tabs {
  flex-grow: 0;
  display: flex;
}

.active {
  background-color: rgba(255, 255, 255, .2);
}

.info__tab:hover {
    background-color: rgba(255, 255, 255, .1);
}

.info__tab:active {
    background-color: rgba(255, 255, 255, .2);
}

.info__radio {
    opacity: 0;
    position: absolute;
    left: -10000px;
}

@media (max-width: 500px) {
  .info {
    flex-direction: column-reverse;
  }
}
