.map {
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

#map {
  height: 100%;
}


.map__additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}


.map__control {
  z-index: 999;
  right: 15px;
  top: 30vh;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.map__button {
  opacity: .8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  margin-top: 15px;
  padding-top: 3px;
  box-sizing: border-box;
  border-radius: 26px;
  background-color: #fff;
  border: 0;
  font-size: 25px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.map__button:focus {
  outline: none;
}

.map__button:active {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.map__info {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 0;
  z-index: -1;
  width: 100%;
  transition: all .2s;
  height: 300px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

.map__profile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 25px;
  z-index: 999;
  position: absolute;
}

.show {
  opacity: 1;
  z-index: 9999;
}
